.card {
    width: auto;
    background-color: #BEBEBE;
    display: inline-flex;
    margin: 8px;
    padding: 16px;
    border-radius: 2vh;
    cursor: pointer;
}

.card:hover {
    background-color: #AAAAAA;
}